{% extends 'layout.html' %}

{% block title %}About Our Project{% endblock %}

{% block content %}
<section>
    <h2>About Our Project</h2>
    <p>India, home to the largest population of wild tigers in the world, has long been at the forefront of global tiger conservation efforts. The Indian government and numerous NGOs have invested significant resources in protecting these majestic creatures. Despite these efforts, the challenges posed by habitat loss, poaching, and human-wildlife conflict continue to threaten tiger populations. To address these challenges more effectively, leveraging modern technology, such as machine learning (ML), is crucial. This project focuses on developing an ML model to predict the future population of tigers in India, aiming to support conservation strategies and ensure the long-term survival of tigers in the wild.</p>
    <br>
    <h3>Need for Predictive Modelling</h3>
    <p>Predictive modeling in wildlife conservation is essential for several reasons:</p>
    <ul>
        <li><strong>Informed Decision-Making:</strong> Accurate predictions can help policymakers and conservationists make informed decisions regarding habitat protection, anti-poaching measures, and resource allocation.</li>
        <li><strong>Proactive Measures:</strong> By forecasting potential declines in tiger populations, conservation efforts can be implemented proactively rather than reactively, increasing their effectiveness.</li>
        <li><strong>Resource Optimization:</strong> Limited resources can be directed towards areas and actions where they are most needed, maximizing their impact.</li>
    </ul>
</section>
{% endblock %}
